<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create issue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <form [formGroup]="form" (ngSubmit)="save()">
      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label position="floating"><ion-icon name="cube"></ion-icon> ID</ion-label>
          <ion-input formControlName="issueId" [required]="true"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label position="floating"><ion-icon name="text"></ion-icon> Description</ion-label>
          <ion-input formControlName="description"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label position="floating"><ion-icon name="flash"></ion-icon> Estimation</ion-label>
          <ion-input type="number" color="primary" formControlName="estimation"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label position="stacked"><ion-icon name="layers"></ion-icon> Type</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" formControlName="type">
            <ion-select-option *ngFor="let type of types" [value]="type.value">
              {{ type.displayValue }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label position="floating"><ion-icon name="reload"></ion-icon> Sprint</ion-label>
          <ion-input type="number" color="primary" formControlName="sprint"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label><ion-icon name="people"></ion-icon> Alone</ion-label>
          <ion-checkbox formControlName="alone"></ion-checkbox>
        </ion-item>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-item class="input">
          <ion-label><ion-icon name="checkmark-circle"></ion-icon> Done</ion-label>
          <ion-checkbox formControlName="done"></ion-checkbox>
        </ion-item>
      </ion-row>

      <ion-row *ngIf="mode !== 'create'" class="ion-justify-content-center ion-margin">
        Created: {{ parseDate(card.creationDate) }}
      </ion-row>
      <ion-row *ngIf="mode !== 'create' && card.done && card.doneDate" class="ion-justify-content-center ion-margin">
        Done: {{ parseDate(card.doneDate) }}
      </ion-row>
      <ion-row
        *ngIf="mode !== 'create' && card.done && card.creationDate && card.doneDate"
        class="ion-justify-content-center ion-margin"
      >
        Time to Done: {{ timeToDone(card).days }} days {{ timeToDone(card).hours }} hours
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-button color="success" type="submit" [disabled]="!form.valid">Save</ion-button>
      </ion-row>
    </form>
  </ion-col>
</ion-content>
