<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center">
      <ion-row class="ion-justify-content-center">
        <ion-text color="primary">
          <h3>Issues to be done:</h3>
        </ion-text>
      </ion-row>
      <ng-container
        *ngFor="let card of getUndoneCards"
        [ngTemplateOutlet]="cardTemplate"
        [ngTemplateOutletContext]="{ card: card }"
      >
      </ng-container>

      <ion-row class="ion-justify-content-center">
        <ion-item-divider style="width: 70%"></ion-item-divider>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-text color="success">
          <h3>Issues done:</h3>
        </ion-text>
      </ion-row>
      <ng-container
        *ngFor="let card of getDoneCards"
        [ngTemplateOutlet]="cardTemplate"
        [ngTemplateOutletContext]="{ card: card }"
      >
      </ng-container>
    </ion-col>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCard()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #cardTemplate let-card="card">
  <ion-row class="ion-justify-content-center">
    <ion-card class="card" (click)="editCard(card)">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-row>
              <ion-card-title
                ><strong>{{ card.issueId }}</strong>
                <ion-chip [color]="getCardTypeColor(card.type)">
                  <ion-label>{{ card.type }}</ion-label>
                </ion-chip>
                <ion-icon *ngIf="!card.alone" name="people"></ion-icon>
                <ion-badge color="primary">{{ card.estimation }}</ion-badge>
              </ion-card-title>
            </ion-row>
            <ion-row>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">{{ card.description }}</ion-label>
              </ion-item>
            </ion-row>
          </ion-col>
          <ion-col size="3">
            <ion-row class="ion-justify-content-end" style="margin-bottom: 5%">
              <!--   <ion-text color="success">
                <h5>Done:</h5>
              </ion-text> -->
              <ion-toggle
                (click)="switchDone($event, card)"
                [checked]="card.done"
                [color]="getSwitchColor(card.done)"
              ></ion-toggle>
            </ion-row>
            <ion-row class="ion-justify-content-end">
              <ion-button color="danger" class="ion-float-right" (click)="deleteCard($event, card)"
                ><ion-icon name="trash-outline"></ion-icon
              ></ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--         <ion-card-title>
          <strong>{{ card.issueId }}</strong>
          <ion-chip [color]="getCardTypeColor(card.type)">
            <ion-label>{{ card.type }}</ion-label>
          </ion-chip>
          <ion-icon *ngIf="!card.alone" name="people"></ion-icon>
          <ion-badge color="primary">{{ card.estimation }}</ion-badge>

          <ion-button color="danger" class="ion-float-right" (click)="deleteCard($event, card)"
            ><ion-icon name="trash-outline"></ion-icon
          ></ion-button>
          <ion-toggle
            class="ion-float-right"
            (click)="switchDone($event, card)"
            [checked]="card.done"
            [color]="getSwitchColor(card.done)"
          ></ion-toggle>
        </ion-card-title> -->
      <!-- <span>{{ card.description }}</span> -->
    </ion-card>
  </ion-row>
</ng-template>
