.card {
  /* width: 70%; */
}

@media only screen {
  .card {
    width: 90%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 900px) {
  .card {
    width: 70%;
    max-width: 70%;
  }
}

.card:hover {
  cursor: pointer;
  /* background-color: rgb(255, 249, 223); */
}

/* .card:hover .a1 .a2 .a3 .a4 .description {
  cursor: pointer;
  background-color: rgb(255, 249, 223);
  border-color: rgb(255, 249, 223);
}
 */
