.card {
  width: 70%;
}

.card:hover {
  cursor: pointer;
  /* background-color: rgb(255, 249, 223); */
}

/* .card:hover .a1 .a2 .a3 .a4 .description {
  cursor: pointer;
  background-color: rgb(255, 249, 223);
  border-color: rgb(255, 249, 223);
}
 */
